<section class="section  section-lg bg-white" id="team" style="margin-bottom : 0">
  <div>
    <div class="row justify-content-center text-center mb-lg">
      <div class="col-lg-12">
        <h2 class="txtHeader col-md-3 mr-auto ml-auto" style=" margin-top: -60px;"> <span class="border-bottom"> &nbsp;
            OUR TEAM &nbsp;</span> </h2><br>
        <p style="text-align: center;" class="ntxt"><b>Our ability to deliver outstanding results for our students
            starts with our team of experienced and capable industry experts. <br>
            We share a mutual passion for technology and believe in doing excellent work for our students to build their
            career.</b></p>
      </div>
    </div>

    <div style="margin-top: -40px;margin-bottom: -40px;">


      <swiper [config]="configD" *ngIf="!scrEEn" style="height: auto;">
        <div class="swiper-wrapper">



          <!-- 2 -->
          <!-- <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t1=false" (mouseout)="t1=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryPawan.webp?alt=media&token=ade50b9c-32fd-46ff-b1ce-ab68dde6ce83"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">



              </div>

              <div class="pt-4 text-center">
                <h5 class="title">
                  <small (mouseover)="t1=false" (mouseout)="t1=false" style="color: black;"> Pawan Chandurkar
                  </small><br>
                  <small (mouseover)="t1=false" (mouseout)="t1=false" style="color: black;"> <b> Frontend Development
                      Expert </b> </small><br>
                  <small *ngIf="t1" style="color: black;"><b> <u> MTech IITB </u> </b></small><br>
                  <small *ngIf="t1" style="color: black;"><i> 2 years experience at Oracle. </i></small>
                </h5>
              </div>

            </div>
          </div> -->

          <!-- 3 -->
          <!-- <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Fss.webp?alt=media&token=3a6ab1e8-ab23-4ffa-b8ab-29d03867c355"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small style="color: black;"> Sanket Salvi </small><br>
                    <small class="servicesfin" style="color: black;"> <b> Internet of Things Expert </b> </small><br>

                  </h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- 4 -->
          <div class="swiper-slide ">
            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t5=false" (mouseout)="t5=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FSheetal2.webp?alt=media&token=b165fcaf-5bd4-469f-bc8b-bd632dce42cd"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small (mouseover)="t5=false" (mouseout)="t5=false" style="color: black;"> Sheetal P. Jane
                    </small><br>
                    <small (mouseover)="t5=false" (mouseout)="t5=false" class="servicesfin" style="color: black;"> <b>
                        Full Stack Development Expert </b> </small><br>
                    <small *ngIf="t5" style="color: black;"><b> MCA </b></small><br>
                    <small *ngIf="t5" style="color: black;"><i> Experience: 8 years in Shivaji Science as Assistant
                        Professor </i></small>
                  </h5>
                </div>
              </div>
            </div>
          </div>


          <!-- 6 -->
          <!-- <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t3=false" (mouseout)="t3=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactorySwapnil.webp?alt=media&token=ffe168cc-61f3-4375-816c-1e6a1ecdf932"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small (mouseover)="t3=false" (mouseout)="t3=false" style="color: black;"> Swapnil Dinesh Chaudhari
                    </small><br>
                    <small (mouseover)="t3=false" (mouseout)="t3=false" class="servicesfin" style="color: black;"> <b>
                        Head - Corporate Affairs </b> </small><br>
                    <small *ngIf="t3" style="color: black;"><b> <u> BE C. Tech, MBA - HR, PGPM - Marketing </u>
                      </b></small><br>
                    <small *ngIf="t3" style="color: black;"><i>
                        Experience: 9 years
                        Previous company name: Zenith Quality Assessors Pvt. Ltd.
                        Current company with designation: Maven Conserv LLP, - Director / Relation Group - Associate
                        Director
                      </i></small>
                  </h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- 7 -->
          <!-- <div class="swiper-slide ">
            <div class="col-12">
              <div class="px-4">
                <img alt="image" alt="image" (mouseover)="t4=false" (mouseout)="t4=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryAshwini.webp?alt=media&token=3b06e982-7d45-477a-85b7-fba8c2f93cba"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small (mouseover)="t4=false" (mouseout)="t4=false" style="color: black;"> Ashwini D. Talmale
                    </small><br>
                    <small (mouseover)="t4=false" (mouseout)="t4=false" class="servicesfin" style="color: black;"> <b>
                        Head - Business and Human Excellence </b> </small><br>
                    <small *ngIf="t4" style="color: black;"><b> MTech CSE </b></small><br>
                    <small *ngIf="t4" style="color: black;"><i> Experience: 4 yrs ( 2.5 yrs in KDKCE & 1.5 yrs. in MIET)
                        As Assistant Professor </i></small>
                  </h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- 8 -->
          <!-- <div class="swiper-slide ">


            <div class="col-12">
              <div class="px-4">
                <img alt="image"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryHarsh.webp?alt=media&token=c50e76b1-8e15-41a6-b4d4-695245254d1b"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small style="color: black;"> Harshvardhan Singh </small><br>
                    <small class="servicesfin" style="color: black;"> <b> Head - Content Enhancement </b> </small><br>

                  </h5>
                </div>
              </div>
            </div>

          </div> -->

          <!-- 9 -->
          <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactorypv.webp?alt=media&token=c98c07d4-bbe9-4cbe-ac4d-17457f0598c7"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small style="color: black;"> Prasad Vyawhare </small><br>
                    <small class="servicesfin" style="color: black;"> <b> Digital Content Editor </b> </small><br>

                  </h5>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>

      <swiper [config]="configM" *ngIf="scrEEn" style="height: auto;">
        <div class="swiper-wrapper">



          <!-- 2 -->
          <!-- <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t1=false" (mouseout)="t1=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryPawan.webp?alt=media&token=ade50b9c-32fd-46ff-b1ce-ab68dde6ce83"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

              </div>

              <div class="pt-4 text-center">
                <h5 class="title">
                  <small (mouseover)="t1=false" (mouseout)="t1=false" style="color: black;"> Pawan Chandurkar
                  </small><br>
                  <small (mouseover)="t1=false" (mouseout)="t1=false" style="color: black;"> <b> Frontend Development
                      Expert </b> </small><br>
                  <small *ngIf="t1" style="color: black;"><b> <u> MTech IITB </u> </b></small><br>
                  <small *ngIf="t1" style="color: black;"><i> 2 years experience at Oracle. </i></small>
                </h5>
              </div>

            </div>
          </div> -->

          <!-- 3 -->
          <!-- <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Fss.webp?alt=media&token=3a6ab1e8-ab23-4ffa-b8ab-29d03867c355"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small style="color: black;"> Sanket Salvi </small><br>
                    <small class="servicesfin" style="color: black;"> <b> Internet of Things Expert </b> </small><br>

                  </h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- 4 -->
          <div class="swiper-slide ">
            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t5=false" (mouseout)="t5=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FSheetal2.webp?alt=media&token=b165fcaf-5bd4-469f-bc8b-bd632dce42cd"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small (mouseover)="t5=false" (mouseout)="t5=false" style="color: black;"> Sheetal P. Jane
                    </small><br>
                    <small (mouseover)="t5=false" (mouseout)="t5=false" class="servicesfin" style="color: black;"> <b>
                        Expert in Fullstack development </b> </small><br>
                    <small *ngIf="t5" style="color: black;"><b> MCA </b></small><br>
                    <small *ngIf="t5" style="color: black;"><i> Experience: 8 years in Shivaji Science as Assistant
                        Professor </i></small>
                  </h5>
                </div>
              </div>
            </div>
          </div>



          <!-- 6 -->
          <!-- <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t3=false" (mouseout)="t3=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactorySwapnil.webp?alt=media&token=ffe168cc-61f3-4375-816c-1e6a1ecdf932"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small (mouseover)="t3=false" (mouseout)="t3=false" style="color: black;"> Swapnil Dinesh Chaudhari
                    </small><br>
                    <small (mouseover)="t3=false" (mouseout)="t3=false" class="servicesfin" style="color: black;"> <b>
                        Head - Corporate Affairs </b> </small><br>
                    <small *ngIf="t3" style="color: black;"><b> <u> BE C. Tech, MBA - HR, PGPM - Marketing </u>
                      </b></small><br>
                    <small *ngIf="t3" style="color: black;"><i>
                        Experience: 9 years
                        Previous company name: Zenith Quality Assessors Pvt. Ltd.
                        Current company with designation: Maven Conserv LLP, - Director / Relation Group - Associate
                        Director
                      </i></small>
                  </h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- 7 -->
          <!-- <div class="swiper-slide ">
            <div class="col-12">
              <div class="px-4">
                <img alt="image" (mouseover)="t4=false" (mouseout)="t4=false"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryAshwini.webp?alt=media&token=3b06e982-7d45-477a-85b7-fba8c2f93cba"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small (mouseover)="t4=false" (mouseout)="t4=false" style="color: black;"> Ashwini D. Talmale
                    </small><br>
                    <small (mouseover)="t4=false" (mouseout)="t4=false" class="servicesfin" style="color: black;"> <b>
                        Head - Business and Human Excellence </b> </small><br>
                    <small *ngIf="t4" style="color: black;"><b> MTech CSE </b></small><br>
                    <small *ngIf="t4" style="color: black;"><i> Experience: 4 yrs ( 2.5 yrs in KDKCE & 1.5 yrs. in MIET)
                        As Assistant Professor </i></small>
                  </h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- 8 -->
          <!-- <div class="swiper-slide ">


            <div class="col-12">
              <div class="px-4">
                <img alt="image"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryHarsh.webp?alt=media&token=c50e76b1-8e15-41a6-b4d4-695245254d1b"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small style="color: black;"> Harshvardhan Singh </small><br>
                    <small class="servicesfin" style="color: black;"> <b> Head - Content Enhancement </b> </small><br>

                  </h5>
                </div>
              </div>
            </div>

          </div> -->

          <!-- 9 -->
          <div class="swiper-slide ">

            <div class="col-12">
              <div class="px-4">
                <img alt="image"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactorypv.webp?alt=media&token=c98c07d4-bbe9-4cbe-ac4d-17457f0598c7"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"
                  height="200px">

                <div class="pt-4 text-center">
                  <h5 class="title">
                    <small style="color: black;"> Prasad Vyawhare </small><br>
                    <small class="servicesfin" style="color: black;"> <b> Digital Content Editor </b> </small><br>

                  </h5>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
    </div>
    <!-- </div> -->
  </div>
</section>