<app-navbar></app-navbar>


<div *ngIf="show" class="position-relative">
  <div class="demo-header demo-header-image">

    <div class="motto text-left" style="margin-left: 0px;">



      <div class="col-md-6" style="margin-left: -150px;margin-top: 20px;">

      </div>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="col-md-12 row justify-content-center text-center mb-lg">
  <div class="col-md-12">
    <h2 class="txtHeader col-md-3 mr-auto ml-auto" style=" margin-top: -60px;"> <span class="border-bottom"> &nbsp; OUR
        COORDINATORS &nbsp;</span> </h2><br>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p style="text-align: center;"><b>
          Coming together is beginning, keeping together is progress and working together is a success. We at Gyanarpan
          work with students from different colleges. These students act as coordinators, work closely with other
          students, and help in painting pictures of tomorrow. They oversee and manage every small to large essential
          aspects of technical activities. All coordinators are responsible for bridging the gap between industry and
          colleges. Each coordinator on this portal has the potential to learn, create, innovate and flourish.
        </b></p>
    </div>
  </div>
</div>



<div class="col-md-12 row justify-content-center text-center mb-lg" style="background-color: #F9F9F9;">
  <div class="col-md-12">
    <br><br>
    <h2 class="txtHeader  mr-auto ml-auto"> <span class="border-bottom"> &nbsp; JOIN AS COORDINATOR &nbsp;</span> </h2>
    <br>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p style="text-align: center;"><b>
          Your contribution to bridge the gap between college and industry needs will play a very important role in the
          life of each student. Coordinators will be eligible for Leadership Reward by Gyanarpan.
        </b></p>
      <br>
      <a [routerLink]="['/join-coordinator']"> <button class="btn btn-txt text-center mr-auto ml-auto"> JOIN NOW
        </button> </a>
      <br><br><br><br>
    </div>
    <!-- <br><br> -->
  </div>
  <br>
</div>

<!-- <br>  -->

<section class="section bg-white container" style="margin-top: -20px;">

  <div class="col-md-12 row">
    <!-- <div class="row row-grid align-items-center"> -->
    <div class="col-md-12">
      <h2 class="txtHeader text-center mr-auto ml-auto" style=" margin-top: -60px;"> <span class="border-bottom"> &nbsp;
          KDK COLLEGE OF ENGINEERING 2019-2020 &nbsp;</span> </h2>
    </div>



  </div>
</section>


<div class="col-md-12">
  <h2 class="txtHeader text-center mr-auto ml-auto" style=" margin-top: -60px;"> <span class="border-bottom"> &nbsp;
      INFORMATION TECHNOLOGY 2<sup>ND</sup> YEAR &nbsp;</span> </h2><br><br>
</div>

<div class="col-12 row">
  <div class="col-lg-1 col-md-2 col-sm-6  ">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorykdk1.jpg?alt=media&token=5f210f34-6429-4132-b7b1-144c3f41242f"
      width="100%">

  </div>
  <div class="col-lg-1 col-md-2 col-sm-6   ">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorykdk2.jpg?alt=media&token=f2a0ac50-984e-4e30-9516-1df622ae1a80"
      width="100%">

  </div>

  <div class="col-lg-1 col-md-2 col-sm-6   ">

  </div>

  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorykdk3.jpg?alt=media&token=aca9f2e9-c035-496a-aa5f-f3e2a9aaec79"
      width="100%">

  </div>

  <div class="col-lg-1 col-md-2 col-sm-6   ">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactorykdk4.jpg?alt=media&token=0d583538-80c3-4695-8fe5-36963fc0eb7c"
      width="75%">

  </div>

</div>

<br><br>

<section class="section bg-white container" style="margin-top: -20px;">

  <div class="col-md-12 row">

    <!-- <div class="row row-grid align-items-center"> -->
    <div class="col-md-12">
      <br><br>
      <h2 class="txtHeader text-center mr-auto ml-auto" style=" margin-top: -60px;"> <span class="border-bottom"> &nbsp;
          BHAGVATI COLLEGE OF ENGINEERING 2019-2020 &nbsp;</span> </h2>
    </div>



  </div>
</section>


<div class="col-md-12">
  <h2 class="txtHeader text-center mr-auto ml-auto" style=" margin-top: -60px;"> <span class="border-bottom"> &nbsp;
      ELECTRONICS 3<SUP>RD</SUP> YEAR &nbsp;</span> </h2><br>
</div>

<div class="col-12 row">
  <!-- <div class="col-lg-2 col-md-4 col-sm-6 thumbnail">
    <img alt="co-ordinator"
      src=""
      width="100%">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src=""
      width="100%">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src=""
      width="100%">

  </div> -->
  <!-- <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
            <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorybvg3.jpg?alt=media&token=f99bf7aa-8f73-4b86-8e7e-ef09d513535c" width="100%">
          
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
            <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorybvg4.jpg?alt=media&token=3291957a-a734-4f1b-8049-a3d6f867ed98" width="100%">
         
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
            <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorybvg5.jpg?alt=media&token=f165e004-709f-45f4-9db2-1d40c6fae78f" width="100%">
           
          </div> -->

  <!-- <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
          <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2Fbvg9.jpg?alt=media&token=f75034ff-817a-47bc-86b9-2897362830b5" width="100%">
           
        </div> -->

  <!--  -->
  <div class="col-lg-1 col-md-2 col-sm-6  ">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorybvg1.jpg?alt=media&token=d1d146a6-209c-4886-b1fa-89bdb650877d"
      width="100%">

  </div>
  <div class="col-lg-1 col-md-2 col-sm-6   ">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorybvg6.jpg?alt=media&token=c20454ea-3c42-452f-9aa7-f69dba29164c"
      width="100%">

  </div>

  <div class="col-lg-1 col-md-2 col-sm-6   ">

  </div>

  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactoryFormatFactorybvg2.jpg?alt=media&token=c2a15a8a-e626-4d29-a3c0-afb1349db0cc"
      width="100%">

  </div>

  <div class="col-lg-1 col-md-2 col-sm-6   ">

  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
    <img alt="co-ordinator"
      src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2Fbvg9.jpg?alt=media&token=f75034ff-817a-47bc-86b9-2897362830b5"
      width="75%">

  </div>
  <!--  -->

</div>

<!-- <div class="col-12 row">
          
          <div class="col-lg-2 col-md-4 col-sm-6 thumbnail" *ngIf="!scrEEn">
               
            </div>
        <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
          <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2FFormatFactorybvg7.jpg?alt=media&token=85f3f980-44ad-4a86-a927-fe4634f41775" width="100%">
          
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6  thumbnail" *ngIf="!scrEEn">
           
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
          <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2Fbvg8.jpg?alt=media&token=5e454e74-9458-408c-b6bd-a3cb926e7e5d" width="100%">
          
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6  thumbnail" *ngIf="!scrEEn">
           
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6  thumbnail">
          <img  alt="co-ordinator" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/coor%2Fbvg9.jpg?alt=media&token=f75034ff-817a-47bc-86b9-2897362830b5" width="100%">
           
        </div>
      
      </div> -->



<br> <br><br><br>

<app-footer></app-footer>