 
<app-navbar></app-navbar>

<!-- <br><br> -->


<div class="position-relative">
  <div class="demo-header demo-header-image">
    <div class="motto text-left" style="margin-left: 0px;">
      <div class="col-md-6" style="margin-left: -150px;margin-top: 20px;">
      </div>
    </div> 
  </div>
</div>

<app-programs></app-programs>

<br *ngIf="!scrEEn"><br *ngIf="!scrEEn">

<br *ngIf="!scrEEn">
          <!--  -->
          <div class="container" style="background-color: #F9F9F9;">
              <div class="row row-grid align-items-center">
                  <div class="col-md-12 row">
                      <h2 class="txtHeader mr-auto ml-auto text-left">  <span class="border-bottom"> &nbsp; PRE-PLACEMENT PROGRAMS BENEFITS &nbsp; </span> </h2>
                      <br *ngIf="!scrEEn"><br *ngIf="!scrEEn"><br>
                  </div>

               
                  <div class="col-md-6"  *ngIf="scrEEn"> 
                      <ul style="padding-left: 0;list-style-type: none;">
                          <li>  <p>    
                          <b> 
                              <img alt="icon" src="https://image.flaticon.com/icons/png/512/1006/1006555.png" height="25px"> 100% job guaranteed
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1041/1041885.png" height="25px">  Money-back Guarantee
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  INTERVIEW TRAINING
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1402/1402153.png" height="25px">  5+ MOCK INTERVIEW
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img alt="icon"  src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">   5+ MOCK TEST
                          </b>
                          </p>
                          </li>                          

                          <li>  <p>  
                          <b> 
                              <img alt="icon"  src="https://image.flaticon.com/icons/png/512/1414/1414334.png" height="25px"> APTITUDE TRAINING
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  Real world Projects and Case studies
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">  1-to-1 Mentoring
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1087/1087815.png" height="25px">   Career Guidance
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/942/942748.png" height="25px"> Resume Building
                          </b>
                          </p>
                          </li>
                        </ul> 
                  </div>
                  <!--  -->

                  <div class="col-md-6"  *ngIf="!scrEEn">
                      <br *ngIf="!scrEEn"> 
                      <ul style="padding-left: 0;list-style-type: none;">
                          <li>  <p>    
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1006/1006555.png" height="25px"> 100% job guaranteed
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img alt="icon"  src="https://image.flaticon.com/icons/png/512/1041/1041885.png" height="25px">   Money-back Guarantee
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  INTERVIEW TRAINING
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1402/1402153.png" height="25px">  5+ MOCK INTERVIEW
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img alt="icon"  src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">   5+ MOCK TEST
                          </b>
                          </p>
                          </li>                          
                        </ul>
                        <br *ngIf="!scrEEn"> 
                  </div>

                  <div class="col-md-6"  *ngIf="!scrEEn">
                      <br *ngIf="!scrEEn">
                      <ul style="padding-left: 0;list-style-type: none;">
                          <li>  <p>  
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1414/1414334.png" height="25px"> APTITUDE TRAINING
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px"> Career Guidance
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">   1-to-1 Mentoring
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1087/1087815.png" height="25px">   Real world Projects and Case studies
                          </b>
                          </p>
                          </li>

                          <li>  <p>   
                          <b> 
                              <img alt="icon"  src="https://image.flaticon.com/icons/png/512/942/942748.png" height="25px">  Resume Building
                          </b>
                          </p>
                          </li>
                        </ul>
                        <br *ngIf="!scrEEn"> 
                  </div>

              </div>
              <br *ngIf="!scrEEn">
            </div>
          <!--  -->

<br *ngIf="!scrEEn"><br *ngIf="!scrEEn">

<section class="section bg-white container" style="margin-top: -20px;">
    
  <div class="col-md-12 row">

        <div class="col-md-6">
            <div >
             <img class="img2" alt="100% job gurranted"  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed%2F100-percent-jobgurr.webp?alt=media&token=2c118da1-4af0-4670-aa55-5b77783eed0a" width="100%;">            
            </div>
          </div>
        <div class="col-md-5" >
            <!-- <div class="pl-md-5"> -->
                <!-- <br><br> -->
                <h2 class="txtHeader mr-auto ml-auto text-left"><span class="border-bottom" style="margin-left: -5px;"> 100% Job Guarantee</span> <sup style="font-size: 28px;">*</sup>  </h2>

              <p style="text-align: justify;" class="ntxt"> <b> 
                Our industry-leading programs give students everything they need to Step Up and Succeed. It helps student in enhancing their technical and interpersonal skills and staying ahead of the crowd. We assure 100% placement within 6 months of the successful completion of the pre-placement program. Students get eligible for money-back guarantee if they don't get a job within 6 months of the course completion.  
              </b></p>
              <a [routerLink]="['/terms']" style="color: #126f9a;text-decoration: underline;"> Terms & Conditions </a>
              
            <!-- </div> -->
          </div>
       
  
  </div>
</section>

<app-footer></app-footer>