<section class="section bg-white container" style="margin-top: -20px;">
  <ng-template #classic3 let-c="close" let-d="dismiss">
      <div class="modal-content text-justify">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default"> Terms & Conditions </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            
            <h1 class="western" style="text-align:center;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">YOU ARE HIRED!</span></span></span></h1>
            <p style="text-align:center;"><span style="color: #000000;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><u><strong>Guaranteed job in 6 months or refund of course fee</strong></u></span></span></span><span style="color: #000000;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>. *</strong></span></span></span></p>
            <p style="text-align:center;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">(*within 6 months of submitting course assignment)</span></span></p>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>How is the Job Guarantee possible?</strong></span></span></span></p>
            <p style="text-align:justify;"><a name="_GoBack"></a> </p>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Huge opportunity</strong></span></span></span> <span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>for all</strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">: </span></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">As a Web developer, Backend developer, Frontend developer, Full Stack developer, Machine learning roles across various industries coming all your way.</span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Today&rsquo;s demand</strong></span></span></span><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">: </span></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Recruiting people like you as</span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><u> skilled graduates and postgraduates </u></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">in leading companies</span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Recruiters vision:</strong></span></span></span> <span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Practical application and applicability skills (</span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>key</strong></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong> to success</strong></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">)</span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Structure of programs</strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">: </span></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Our programs are </span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>critically evaluated, structured</strong></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"> around real-world case studies.</span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>What do you achieve?</strong></span></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><u><strong>A STRONG PORTFOLIO</strong></u></span></span><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"> to showcase your practical knowledge.</span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>We provide</strong></span></span></span><span style="color: #002060;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">:</span></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Relevant, detailed, in depth course content. </span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Our programs could help you land in most developer roles. </span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><em><strong>A job-guarantee.</strong></em></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Our aim:</strong></span></span></span> <span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">We want to create skilled and efficient resources for growing market. Students being fresh brains and future of nation it is crucial to train them as per their comfort. We achieve this through our job-guarantee or cash back program.</span></span></p>
            </li>
            </ul>
            <p style="text-align:justify;">&nbsp;</p>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Way to Success = Way to Job Guarantee Process:</strong></span></span></span></p>
            <p style="text-align:justify;">&nbsp;</p>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #000000;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>STAGE 1: </strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Each candidate = A personal mentor </strong></span></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">A personal mentor will be assigned to each candidate after the completion of at least 50% of the course assignments who will directing to the specific candidate&rsquo;s portfolio/resume/digital av resume and in mock interviews, interview preparation.</span></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #000000;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>STAGE 2: </strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Each candidate = Must work on at least one capstone projects</strong></span></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Under the mentor&rsquo;s guidance a strong and attractive portfolio will be created based on the project</span></span></span></p>
            </li>
            </ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #000000;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>STAGE 3 : </strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Each candidate </strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">=</span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong> Gets eligible for our Job guarantee program</strong></span></span></span></p>
            </li>
            </ul>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Terms and Conditions:</strong></span></span></span></p>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Step 1. Completion of all the assignments of enrolled program within validity period.</span></span></span></p>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Step 2: Portfolios will be forwarded to Startups, Leading and Trending companies. </span></span></span></p>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Note: Portfolios will be forwarded to wide range of companies from </span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>startups to Fortune 500 companies</strong></span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"> but the selection criteria at the final stage completely depends purely on candidate&rsquo;s powerful portfolio.</span></span></span></p>
            <p><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Job Guarantee eligibility criteria</strong></span></span></span></p>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><strong>Terms and Conditions:</strong></span></span></span></p>
            <ol>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">No plagiarism in code will be entertained.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">It is mandatory to submit all assignments/exercises within 12 months from your date of registration.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">If No placement is done within 6 months then we shall be giving complete refund to the candidate for respective program enrolled, excluding GST.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Interviews will be scheduled as per student consent only.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">It is mandatory to attend </span></span></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">interviews to all the job references given by Pravakti. </span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">No refund will be entertained if a candidate is not interested in applying for jobs or if candidate don&rsquo;t attend the interviews at scheduled times.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><u>For students pursuing UG/PG (2</u></span></span></span><span style="color: #22323d;"><sup><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><u>nd</u></span></span></sup></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"><u> year), under the Job Guarantee program,</u></span></span></span></p>
            </li>
            </ol>
            <ul>
            <ul>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Resume&rsquo;s will be sent to the companies for jobs during your final year completion of final degree program UG/PG which will also include completion of all assignments within the validity period.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">Students pursuing UR/PG (2</span></span></span><span style="color: #22323d;"><sup><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">nd</span></span></sup></span><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;"> year) shall be provided with an internship opportunities after successful completion of course assignments for respective enrolled program.</span></span></span></p>
            </li>
            </ul>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">These terms and conditions may be modified at any time and we will let you know if we update anything. The most recent changes or revisions will appear on this page.</span></span></span></p>
            </li>
            <li>
            <p style="text-align:justify;"><span style="color: #22323d;"><span style="font-family: 'Bookman Old Style', serif;"><span style="font-size: medium;">This Job Guarantee or cash back program is applicable only for candidates who register for Our programs.</span></span></span></p>
            </li>
            </ul>
            <p style="text-align:justify;">&nbsp;</p>
            <p><br /> </p>

                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">Close</button>
         </div>
      </div>
    </ng-template>
  <div class="col-md-12 row"  style="margin-right: 0px;margin-left: 0px;"> 
  
        <div class="col-md-6">
            <div >
             <img class="img2" alt="100% job gurantee" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/100-percent-jobgurr.jpg?alt=media&token=895dc900-4371-4e09-a0af-48adea942540" width="100%;">            
            </div>
          </div>
        <div class="col-md-5" >
          
                <h2 class="txtHeader mr-auto ml-auto text-left"><span class="border-bottom" style="margin-left: -5px;"> 100% Job Guarantee</span> <sup style="font-size: 28px;">*</sup>  </h2>

              <p style="text-align: justify;" class="ntxt"> <b>
                Our industry-leading programs give students everything they need to Step Up and Succeed. It helps student in enhancing their technical and interpersonal skills and staying ahead of the crowd. We assure 100% placement within 6 months of the successful completion of the pre-placement program. Students get eligible for money-back guarantee if they don't get a job within 6 months of the course completion.  
              </b></p>
              <a [routerLink]="['/terms']" style="color: #126f9a;text-decoration: underline;"> Terms & Conditions </a>
              
            <!-- </div> -->
          </div>
      
    <!-- </div> -->
  
  </div>
</section>

<nav class="navbar navbar-horizontal" style="padding: 0%;">
<div class="row col-lg-12 text-center" style="margin-right: 0px;margin-left: 0px;">
    <h2 class="txtHeader col-md-6 mr-auto ml-auto"> <span class="border-bottom"> &nbsp; CAREER WITH US &nbsp;</span> </h2> <br>

 
    <br>
</div>
    <div class="row col-lg-12 text-center" style="margin-right: 0px;margin-left: 0px;">
  <div class="col-sm-1"></div>
<div class="col-sm-4">
  <h4 class="txtSub"> <u>Start your career with us </u> </h4><br>
  <p style="text-align: justify;" class="ntxt"><b> 
    Do you have a passion for teaching? We welcome all interested teachers to join us in designing and implementing world-class program that enable students to get well versed with cutting edge technologies and lead towards innovation.  
  </b></p> 
  <a [routerLink]="['/fb']">
  <button type="button" class="btn  txtb" style="border-radius: 16px;"> Get Started </button>
</a>

</div>
<div *ngIf="!scrEEn" class="col-sm-1 row " style="border-right: 1px solid grey;height: 90px;margin-top: 60px;margin-right: 0px;margin-left: 0px;" >
  <br><br><br>
  
  <br><br><br>
</div>
<div *ngIf="!scrEEn" class="col-sm-1"></div>

<div *ngIf="scrEEn" class="col-sm-12">
  <br><br>
</div>  

<div class="col-sm-4">
    <h4 class="txtSub"> <u>Earn and Learn</u> </h4><br>
    <p style="text-align: justify;" class="ntxt"><b> 
      Gyanarpan believes in 'where there is a will, there is a way'. We offer the opportunity to financially weak students to become independent and excel in their careers to make their dreams come true.
    </b></p>
      
    <a [routerLink]="['/earnnlearn']"><button type="button" class="btn txtb" style="border-radius: 16px;"> Get Started </button></a>

</div>

 
</div>
</nav>

