<app-navbar></app-navbar>
 
<!--  -->

<div class="position-relative">
    <div class="demo-header demo-header-image">
  
        <div class="motto row col-md-12  text-center" >
  <div *ngIf="!scrEEn" style="margin-top: 225px;margin-left: 70px;">
      <button class="btn btn-txt shadow"  (click)="onClickN('feess')" style="font-weight: bold;"> ENROLL NOW </button> 
      <button class="btn btn-secondary shadow" (click)="onClickN('take-test')" style="color: #126f9a;font-weight: bold;" > TAKE A TEST </button>
      <br><br><br><br>
  </div>
  <div *ngIf="scrEEn" style="margin-top: 0px;margin-left: 70px;">
      <button class="btn btn-txt btn-sm shadow"  (click)="onClickN('feess')" style="font-weight: bold;"> ENROLL NOW </button> 
      <button class="btn btn-secondary btn-sm shadow" (click)="onClickN('take-test')" style="color: #126f9a;font-weight: bold;border: 1px solid #126f9a;" > TAKE A TEST </button>
  </div>
      </div>    
      </div>
    </div>
  
<!--  -->

<div>
  <div class="row justify-content-center text-center mb-lg" style="padding: 0px;margin: 0px;">
    <div class="col-lg-12">
        <br><br><br>
      <h2 class="txtHeader text-center mr-auto ml-auto"  > <span class="border-bottom"> &nbsp; DESCRIPTION &nbsp;</span> </h2><br>
      <p style="text-align: center;"><b>Our ability to deliver outstanding results for our students starts with our team of experienced and capable industry experts. <br>
        We share a mutual passion for technology and believe in doing excellent work for our students to build their career.</b></p>
    </div>
  </div>
</div>

<nav class="navbar navbar-horizontal " style="padding: 1%;" >

    <div class="row col-md-12 text-center">
      <div class="col-md-1"></div>
      <div class="col-md-3 " style="margin-bottom: 30px;">
        <h2 style="font-size: 16px;">DURATION </h2>
        <p style="font-weight: bold;text-decoration: underline;"> 45 Days + 30 days free aptitude training</p>
        <p> Weekly 6 days</p>
    </div>
    <div class="col-md-3 " style="border-left: 2px solid grey;border-right: 2px solid grey; margin-bottom: 30px;">
        <h2 style="font-size: 16px;"> ENROLL BY </h2>
        <p style="font-weight: bold;text-decoration: underline;"> 13<sup>th</sup> February, 2021</p>
        <p>Get access to courses immediately</p>
    </div>
    <div class="col-md-4  " style="margin-bottom: 30px;">
        <h2 style="font-size: 16px;"> PREREQUISITES </h2>
        <p style="font-weight: bold;" > Student from any branch can enrol for internship program. <b><u>No Prerequisites</u></b> required. </p>
        <p></p>
      </div>
     </div>
</nav>

 
<br><br><br>


 <!--  -->
 <div class="container" id="benefits" style="background-color: #F9F9F9;">
    <div class="row row-grid align-items-center">
        <div class="col-md-12 row">
            <h2 class="txtHeader mr-auto ml-auto text-left">  <span class="border-bottom"> &nbsp; INTERNSHIP BENEFITS &nbsp; </span> </h2>
            <br  *ngIf="!scrEEn"><br *ngIf="!scrEEn"><br *ngIf="!scrEEn">
        </div>
 

        <div *ngIf="scrEEn" class="col-md-6"> 
            <ul style="padding-left: 0;list-style-type: none;">
                

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1041/1041885.png" height="25px">   Coupon for Pre-placement Program worth INR 5000.
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img alt="icon"  src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  Interview Training
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1402/1402153.png" height="25px">  5+ Mock Interviews
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">   FREE 60 days Aptitude Training
                </b>
                </p>
                </li>                          
            

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  1-to-1 Mentoring
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">   Resume Building
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1087/1087815.png" height="25px">   Research Based Mini & Major Project Assistance
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/942/942748.png" height="25px">  Internship Certificate
                </b>
                </p>
                </li>
              </ul>
              <!-- <br>  -->
        </div>

        <div *ngIf="!scrEEn" class="col-md-6">
            <!-- <br>  -->
            <ul style="padding-left: 0;list-style-type: none;">
                <!-- <li>  <p>    
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1006/1006555.png" height="25px"> 100% PLACEMENT GURANTEE
                </b>
                </p>
                </li> -->

                <!-- <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1041/1041885.png" height="25px">   Coupon for Pre-placement Program worth INR 5000.
                </b>
                </p>
                </li> -->

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  Interview Training
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1402/1402153.png" height="25px">  5+ Mock Interviews
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">   FREE 60 days Aptitude Training
                </b>
                </p>
                </li>                          
              </ul>
              <!-- <br>  -->
        </div>

        <div *ngIf="!scrEEn" class="col-md-6">
            <!-- <br> -->
            <ul style="padding-left: 0;list-style-type: none;">
              

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px">  1-to-1 Mentoring
                </b>
                </p>
                </li>

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px">  Resume Building
                </b>
                </p>
                </li>

            

                <li>  <p>   
                <b> 
                    <img  alt="icon" src="https://image.flaticon.com/icons/png/512/942/942748.png" height="25px">   Internship Certificate
                </b>
                </p>
                </li>
              </ul>
              <!-- <br>  -->
        </div>

    </div>
    <br>
  </div>
<!--  -->


<nav id="syllabus" class="navbar navbar-horizontal bg-white" style="padding: 3%;" >
    <div class="col-md-12">
      <h2 class="txtHeader text-center"> COURSE CONTENT </h2> <br><br><br><br>
    </div>
    <div class="container ">
      <div class="row col-md-12">
  
    <div *ngIf="!scrEEn" class="col-md-2"></div>
      <div class="col-md-8  ">
          <div class="timeline">
               
              <div class="container2 right">
                <div class="content">
                  <h2 class="txtHeader" style="font-weight: bold; "> </h2>
                   <button class="accordion txtSub"> Week 1 </button>
                   <div class="panel">
                    <ul>
                      <li>
                          Introduction to Machine Learning
                        <ul>
                          <li>
                              What is Machine learning
                          </li>
                          <li>
                              Deep understanding the importance of Machine Learning
                          </li>
                          <li>
                              Understanding of Data Science and Machine Learning together
                          </li>
                          <li>
                              Supervised, Unsupervised and Reinforcement Learning
                          </li>
                          <li>
                              How Big Data can be useful for ML
                          </li>
                          <li>
                              Role of Python, R and Java programming.
                          </li>
                          <li>
                              Python Environment Setup
                          </li>
                          <li>
                              Machine Learning Lifecycle
                          </li>
                        </ul>
                      </li>
                    </ul>
                   </div>
                </div></div>

              <div class="container2 right">
                <div class="content">
                   <button class="accordion txtSub"> Week 2 </button>
                   <div class="panel">
                    <ul>
                        <li>
                            Introduction to Python and the Jupyter environment
                            <ul>
                            <li>
                                Python Basics
                            </li>
                            <li>
                                Basic Syntax in Python
                            </li>
                            <li>
                                List, Tuple and String etc.
                            </li>
                            <li>
                                Extracting and reading data from a file and URL
                            </li>
                            <li>
                                Using GitHub to commit your code
                            </li>
                            <li>
                                Python Computation Libraries (Numpy) and Scientific (SciPY)
                            </li>
                            <li>
                                Data Manipulation and Exploratory Analysis (Pandas)
                            </li>
                            <li>
                                Data visualization with Matplotlib
                            </li>
                          </ul>
                        </li>
                    </ul>
                   </div>
                </div></div>


                <div class="container2 right">
                    <div class="content">
                   <button class="accordion txtSub"> Week 3 to 4 </button>
                   <div class="panel">
                    <ul>
                        <li>
                            Data Preprocessing
                            <ul>
                            <li>
                                Tokenization
                            </li>
                            <li>
                                Stop-word Removal
                            </li>
                            <li>
                                Stemming
                            </li>
                            <li>
                                POS Tagging
                            </li>
                            <li>
                                Dimensionality Reduction
                            </li>
                          </ul>
                        </li>
                     
                        <li>
                            Supervised Machine Learning-1 (Scikit Learn)
                            <ul>
                            <li>
                                Classification (KNN, NB): Theory & Demo
                            </li>
                            <li>
                                Hands-on classification on real-world data (iris, Diabetes, Digits and Cancer of UCI dataset)
                            </li>
                            <li>
                                Model Evaluation, Improvements & Performance Metrics
                            </li>
                            <li>
                                Regression Learning
                            </li>
                          </ul>
                        </li>
                     
                        <li>
                            Unsupervised Learning
                            <ul>
                            <li>
                                K-means Clustering: Theory & Demo
                            </li>
                            <li>
                                Hands-on clustering
                            </li>
                          </ul>
                        </li>
                    </ul>
                   </div>
                    </div></div>


              <div class="container2 right">
                <div class="content">
                   <button class="accordion txtSub"> Week 5 </button>
                   <div class="panel">
                    <ul>
                        <li>
                            Natural Language Programming (NLP) Overview
                        </li>
                        <li>
                            Deep Learning Walkthrough and Quick Demo
                        </li>
                        <li>
                            Introduction to Weka.
                        </li>
                      
                    </ul>
                   </div>
                </div></div>
                

              <div class="container2 right">
                <div class="content">
                   <button class="accordion txtSub"> Week 6 </button>
                   <div class="panel">
                    <ul>
                        <li>
                            Internship project (Game development)
                        </li>
                        <li>
                            Internship project (Banking system for Ex: HDFC)
                        </li>
                        <li>
                            Mini and major project guidance on what is going on industry and research
                        </li>
                     
                    </ul>
                   </div> 

                  </div>
              </div>


            </div>
            
       </div>
   
      
      </div>    
       </div>
  </nav>

  <div class="col-lg-12 row text-center" id="take-test" style=" background-image: url('https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/dsrn%2Fbg-about.jpg?alt=media&token=a2fe3efa-88f4-4eef-ad6f-da9e81ba7b5b');background-size: cover;">
    
    <div class="col-lg-2"></div>
    <div class="col-lg-8"> 
        <br><br><br>
    <p style="text-align: center;color: #ffffff;"><b>
      This test helps us to assess your level of knowledge and understanding of the subject. As per your performance in the test, we assign a mentor who will assist you in every possible way to master the course and achieve your goals.  
      <br><br>
    </b></p>
  </div>
  <div class="col-lg-2"></div>
  
  <button class="btn btn-secondary text-center mr-auto ml-auto" style="color: #126f9a;"> START THE TEST NOW </button>
  <div class="col-lg-12"><br><br></div>
</div>


<nav id="feess" class="navbar navbar-horizontal " style="background-color: #ffffff">

    <div class="container">
        <div class="container row col-md-12">

            <div class="col-md-12 text-center">
                <br><br>
                <h2 class="title txtf txtHeader"> INTERNSHIP PROGRAM FEES </h2>
                <br><br>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-md-5 bg-secondary"
                style="height: 380px; margin-top: 10px;border-radius: 10px;padding: 5%;border-bottom: 3px solid #126f9a; box-shadow: 5px 5px 25px 0 rgb(100, 126, 146);">
                <div class="txtSub" style="padding: 5%;">
                    FULL PAYMENT
                </div>

                <div class="txtHeader" style="padding: 5%;color: #126f9a;">
                    FEES : ₹6000/-
                    <span style="font-size: 13px;font-weight: bold;padding-bottom: 50px;letter-spacing: 0cm;">one
                        time</span>
                </div>

                <!-- <p style="margin:15px;">Learn how to build high quality websites and dynamic applications for the web.
               </p> <br> -->

                <button (click)="pay1('Machine learning(ML)')" class="btn btn-txt" style="width: 100%;">ENROLL NOW</button>

            </div>

            <div class="col-sm-1"></div>

            <div class="col-md-5 bg-secondary"
                style="height: 380px; margin-top: 10px;border-radius: 10px;padding: 5%;border-bottom: 3px solid #126f9a; box-shadow: 5px 5px 25px 0 rgb(100, 126, 146);">

                <div class="txtSub" style="padding: 5%;">
                    RESERVE YOUR SEAT
                    <!-- <button class="btn btn-txt btn-sm"> View Plans </button> -->
                </div>

                <div class="txtHeader" style="padding: 5%;color: #126f9a;">
                    FEES : ₹{{ 6000*0.4 }}/-
                    <span style="font-size: 13px;font-weight: bold;padding-bottom: 50px;">

                    </span>
                </div>

                <!-- <p style="margin:15px;">Learn how to build high quality websites and dynamic applications for the web.
              </p> <br> -->

                <button (click)="pay1('Machine learning(ML) R')" class="btn btn-txt" style="width: 100%;">ENROLL NOW</button>

            </div>
        </div>
        <div class="container row col-md-12">
            <br><br><br>
        </div>
    </div>
</nav>


  
  <!-- <br><br> -->

  
  <div class="col-md-12">
      <br><br><br>
    <h2 class="txtHeader mr-auto ml-auto text-center"><span class="border-bottom" style="margin-left: -5px;"> INTERNS REVIEWS </span> </h2>
  </div>

  <app-message></app-message>

<div class="col-md-12">
<br><br><br><br>
</div>

<app-footer></app-footer>