<br id="moreprograms">
<div>
  <h2 class="txtHeader mr-auto ml-auto  text-center"> <span class="border-bottom"> &nbsp; UPCOMING PRE-PLACEMENT PROGRAM
      &nbsp;</span> </h2> <br *ngIf="!scrEEn"> <br *ngIf="!scrEEn"> <br>
  <div class="col-md-12 text-center">


    <div class="container">
      <div class="col-lg-12 row">
        <!-- <div class="col-md-2"></div> -->

        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px; ">
          <!-- <a [routerLink]="['/course-iot']"> -->
          <div class="thumbnail shadow" style="border-radius: 5%;">
            <div class="card bg-white shadow border-0" style="border-radius: 5%;">
              <img height="190px"
                src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryIOT.webp?alt=media&token=bc07a7ca-efe3-4114-a6d4-b545bc7d5edc"
                class="card-img-top" alt="iot" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
              <div class="text badge badge-secondary" style="font-size: 20px;border-radius: 0px 0px 0px 50px;"> Coming
                <br>Soon </div>
              <div>
                <h6 class="txt " style="margin:0%"> <b> Internet of things</b> </h6>
                <hr
                  style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                <p style="margin:0%;margin-bottom: -12px;color:black;"> Devices, Python, Raspberry pi </p>
                <br>
                <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/course-iot']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
              </div>

            </div>

          </div>
          <!-- </a> -->
        </div>


        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px; ">
          <!-- <a [routerLink]="['/course-apti']"> -->
          <div class="thumbnail shadow" style="border-radius: 5%;">
            <div class="card bg-white shadow border-0" style="border-radius: 5%;">
              <img height="190px"
                src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryapp.webp?alt=media&token=67b888ad-1f76-42b1-8911-2a8c2d6d3919"
                class="card-img-top" alt="Aptitude" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
              <div class="text badge badge-secondary"
                style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
              <div>


                <h6 class="txt " style="margin:0%"> <b> Aptitude </b> </h6>
                <hr
                  style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                <p style="margin:0%;margin-bottom: -12px;color:black;"> Logical, verbal, Quantitative </p>
                <br>
                <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/course-apti']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
              </div>


            </div>

          </div>
          <!-- </a> -->
        </div>

        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <!-- <a [routerLink]="['/course-ml']"> -->
          <div class="thumbnail shadow" style="border-radius: 5%;">
            <div class="card bg-white shadow border-0" style="border-radius: 5%;">
              <img height="190px"
                src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryML.webp?alt=media&token=e8e6fb01-36c6-4e8e-ba4c-173d348bb0b4"
                class="card-img-top" alt="Machine learning"
                style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
              <div class="text badge badge-secondary" style="font-size: 20px;border-radius: 0px 0px 0px 50px;"> Coming
                <br>Soon </div>
              <div>


                <h6 class="txt " style="margin:0%"> <b>Machine learning</b> </h6>
                <hr
                  style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                <p style="margin:0%;margin-bottom: -12px;color:black;"> ML Kit, Thinking with sensors </p>
                <br>
                <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/course-ml']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
              </div>

            </div>

          </div>
          <!-- </a> -->
        </div>

      </div>
      <br>


    </div>

  </div>
</div>
