<app-navbar></app-navbar>
<!-- 404 -->
<section id="exams"class="section bg-white container" style="margin-top: -20px;"> 
  <div class="col-md-12 row">
    <div class="col-md-12 text-center">
    <h2 class="txtHeader mr-auto ml-auto text-center">  <span class="border-bottom">&nbsp;PAGE NOT FOUND&nbsp;</span> </h2>
      <div>
        <b>YOU CAN VISIT OUR HOME PAGE </b> <br><br>
        <a [routerLink]="['/home']"><button class="btn btn-txt btn-lg"> CLICK HERE </button></a>
      </div>
    </div>
  </div>
</section>
<!-- 404 -->
<app-footer></app-footer>