<!-- <br><br> -->
<div class="col-md-12 row" style="margin-right: 0px;margin-left: 0px;">

  
      <h2 class="txt txtHeader border-bottom text-center ml-auto mr-auto" style="margin-bottom: 40px;padding: 0px;" >  HOW IT WORKS </h2>
      <br  >
   </div>
 
<div class="row col-sm-12 text-center" style="margin-top: 0;margin-right: 0px;margin-left: 0px;padding: 0px;">
  <!-- <div class="col-sm-1"></div>  -->
  <div class="col-sm-3" style="padding: 0px;"><br>
     <span class="txt " style="font-size: 70px;" > <i class="ni ni-tablet-button"></i>   </span>
    <h6 class="txt txtH"><b> 1. Apply online</b></h6>
     <span style="font-size: 14px;" class="ntxt">Register for any preplacement program and Learn. No coding experience required. </span>
  </div>

  <div class="col-sm-3" style="padding: 0px;"><br>
     <span class="txt " style="font-size: 70px;" > <i class="ni ni-collection"></i></span>
    <h6 class="txt txtH"><b> 2. Complete All Assignments and Projects </b></h6>
     <span style="font-size: 14px;" class="ntxt"> Project and Assignment help you to understand the concepts and solve problems. </span>
  </div>

 <div class="col-sm-3" style="padding: 0px;"><br>
     <span class="txt " style="font-size: 70px;" > <i class="ni ni-trophy"></i></span>
    <h6 class="txt txtH"><b> 3. Become a Gyanarpan Graduate </b></h6>
     <span style="font-size: 14px;" class="ntxt">Be Industry ready within 6 months with our  <b style="color: #126f9a;"> Online</b> &  <b style="color: #126f9a;">Offline </b> courses.</span>
  </div>

  <div class="col-sm-3" style="padding: 0px;"><br>
     <span class="txt " style="font-size: 70px;" > <i class="ni ni-single-02"></i></span>
    <h6 class="txt txtH"><b> 4. Get Placed </b></h6>
     <span style="font-size: 14px;" class="ntxt"> We help you get your Dream Job. </span>
  </div>

  
      <br><br><br><br><br><br>
    
      
  <div class="row col-md-12 col-sm-12 text-center" style="margin-right: 0px;margin-left: 0px;padding: 0px;">

    
       <button (click)="onClickN('programs')" class="btn btn-txt ml-auto mr-auto" style="margin-top: 60px;" > Apply Now </button>
     </div>
 
     
</div>
<!-- <br> -->
