<br id="programs">
<div>
  <h2 class="txtHeader mr-auto ml-auto  text-center"> <span class="border-bottom"> &nbsp; PRE-PLACEMENT PROGRAM
      &nbsp;</span> </h2> <br *ngIf="!scrEEn"> <br *ngIf="!scrEEn"> <br>
  <div class="col-md-12 text-center">


    <div class="container">
      <div class="col-lg-12 row">
        <div class="col-md-2"></div>
        <div *ngIf="pHide" class="col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <a [routerLink]="['/course-fed']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/dsrc%2FFormatFactoryFED.jpg?alt=media&token=9c1dfad5-16a7-400d-80a5-1f712b96e311"
                  class="card-img-top" alt="Front end development"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Front End development</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> HTML, CSS, JS, AngularJS </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/course-fed']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>

              </div>

            </div>

          </a>
        </div>

        <div *ngIf="pHide" class=" col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <a [routerLink]="['/course-bd']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/dsrc%2FFormatFactoryJV.jpg?alt=media&token=07bb2b45-47bb-45e5-9e21-611e37682aa1"
                  class="card-img-top" alt="backend development"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Back End development</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> Java, Spring, Hibernate, MySQL </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/course-bd']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>


              </div>

            </div>
          </a>
        </div>

        <div *ngIf="pHide" class="box col-lg-4 col-sm-10"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <a [routerLink]="['/preplacement/full-stack-development-training']" fragment="fsd">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/SALES-FORCE-gyanarpan.png?alt=media&token=0021f0eb-ebf4-4a64-afc7-a409334f67e3"
                  class="card-img-top" alt="full Stack development"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text blink_text">Enrollment Started</div>

                <div>

                  <h6 class="txt " style="margin:0%"> <b>Full Stack development</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> Java, Spring, HTML, CSS, JS, MySQL </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/preplacement/full-stack-development-training']" fragment="fsd"> <button
                        class="btn btn-txt" style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll
                        Now</button> </a>
                  </div>
                </div>

              </div>

            </div>
          </a>
        </div>


        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <a [routerLink]="['/preplacement/sales-force-development-training']" fragment="fsd">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/SALES-FORCE-gyanarpan.png?alt=media&token=0021f0eb-ebf4-4a64-afc7-a409334f67e3"
                  class="card-img-top" alt="full Stack development"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text blink_text">Enrollment Started</div>

                <div>

                  <h6 class="txt " style="margin:0%"> <b>Sales-force development</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> Sales-force </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/preplacement/sales-force-development-training']" fragment="fsd"> <button
                        class="btn btn-txt" style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll
                        Now</button> </a>
                  </div>
                </div>

              </div>

            </div>
          </a>
        </div>


        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px; ">
          <!-- <a [routerLink]="['/course-iot']" >  -->
          <div class="thumbnail shadow" style="border-radius: 5%;">
            <div class="card bg-white shadow border-0" style="border-radius: 5%;">
              <img height="190px"
                src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryIOT.webp?alt=media&token=bc07a7ca-efe3-4114-a6d4-b545bc7d5edc"
                class="card-img-top" alt="iot" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
              <div class="text badge badge-secondary"
                style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
              <div>


                <h6 class="txt " style="margin:0%"> <b> Internet of things</b> </h6>
                <hr
                  style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                <p style="margin:0%;margin-bottom: -12px;color:black;"> Devices, Python, Raspberry pi </p>
                <br>
                <!-- <div class="caption caption-up" style="background-color: white;">
                          <a [routerLink]="['/course-iot']" >   <button class="btn btn-txt" style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                      </div> -->
              </div>

            </div>

          </div>
          <!-- </a> -->
        </div>

      </div>

      <br>
      <div class="col-md-12 row">
        <!-- iot moved to top -->
        <div class="col-md-2"></div>

        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px; ">
          <!-- <a [routerLink]="['/course-apti']" >  -->
          <div class="thumbnail shadow" style="border-radius: 5%;">
            <div class="card bg-white shadow border-0" style="border-radius: 5%;">
              <img height="190px"
                src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryapp.webp?alt=media&token=67b888ad-1f76-42b1-8911-2a8c2d6d3919"
                class="card-img-top" alt="Aptitude" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
              <div class="text badge badge-secondary"
                style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
              <div>


                <h6 class="txt " style="margin:0%"> <b> Aptitude </b> </h6>
                <hr
                  style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                <p style="margin:0%;margin-bottom: -12px;color:black;"> Logical, verbal, Quantitative </p>
                <br>
                <!-- <div class="caption caption-up" style="background-color: white;">
                          <a [routerLink]="['/course-apti']" >   <button class="btn btn-txt" style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                      </div> -->
              </div>


            </div>

          </div>
          <!-- </a> -->
        </div>




        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <!-- <a [routerLink]="['/course-ml']" >  -->
          <div class="thumbnail shadow" style="border-radius: 5%;">
            <div class="card bg-white shadow border-0" style="border-radius: 5%;">
              <img height="190px"
                src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryML.webp?alt=media&token=e8e6fb01-36c6-4e8e-ba4c-173d348bb0b4"
                class="card-img-top" alt="Machine learning"
                style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
              <div class="text badge badge-secondary"
                style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
              <div>


                <h6 class="txt " style="margin:0%"> <b>Machine learning</b> </h6>
                <hr
                  style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                <p style="margin:0%;margin-bottom: -12px;color:black;"> ML Kit, Thinking with sensors </p>
                <br>
                <!-- <div class="caption caption-up" style="background-color: white;">
                      <a [routerLink]="['/course-ml']" >   <button class="btn btn-txt" style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
              </div>

            </div>

          </div>
          <!-- </a> -->
        </div>


      </div>
      <br>
      <div class="col-md-12 row">

        <!-- <div class="col-md-5"></div> -->
        <button class="btn btn-txt ml-auto mr-auto" style="display: none;" id="hided0" (click)="hided()"> View
          More</button>
      </div>

      <div class="col-md-12 row">
        <!-- <div class="col-md-2"></div> -->

        <div class=" col-lg-4 col-sm-10" id="hided4"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;  display: none;">
          <a [routerLink]="['/courses']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src=".https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/dsrc%2FFormatFactoryAE.jpg?alt=media&token=7ff45439-d73e-4009-b43d-b76deae32692"
                  class="card-img-top" alt="-" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Artificial intelligence</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> Developing Core Ideas, Teaching </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/courses']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>


              </div>

            </div>
          </a>
        </div>

        <div class=" col-lg-4 col-sm-10" id="hided1"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px; display: none;">
          <a [routerLink]="['/courses']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed%2FFormatFactoryNLP.webp?alt=media&token=9ba70893-e822-4104-9c6f-3634218f62f2"
                  class="card-img-top" alt="-" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Natural language processing</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> TTS, STT, Voice Verification </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/courses']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>


              </div>

            </div>
          </a>
        </div>

        <div class=" col-lg-4 col-sm-10" id="hided2"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px; display: none;">
          <a [routerLink]="['/courses']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img height="190px"
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed%2FFormatFactoryDL.webp?alt=media&token=02f2a029-271c-4fa2-aff4-acc2e4ac109a"
                  class="card-img-top" alt="-" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Deep Learning</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <p style="margin:0%;margin-bottom: -12px;color:black;"> Case Studies, Base Implementation </p>
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/courses']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>


              </div>

            </div>
          </a>
        </div>

        <div class="col-md-12 row">

          <button class="btn btn-txt ml-auto mr-auto" id="hided3" (click)="hided3()" style="display: none;"> View Less
          </button>

        </div>


      </div>

    </div>

  </div>
</div>