<div   class="section text-center centre" id="services">
  <div   class="row" style="margin-right: 0px;margin-left: 0px;">
     <br><br>
     <h2 class="mr-auto ml-auto border-bottom  text-center txtHeader">  WHAT WE DO </h2>
     <h5   class="description"></h5>

 </div><br><br *ngIf="!scrEEn"><br *ngIf="!scrEEn">
 

<div class="row col-md-12"  style="margin-right: 0px;margin-left: 0px;">

   <div class="col-md-1"></div>

   <div class="col-md-4  " style="height: auto;">
       <div   class="info">
           <h1></h1>
           <div   class="description">
             <h4   class="info-title txtSub  "> <i   class="ni ni-ruler-pencil"></i>&nbsp;&nbsp;&nbsp;<u>Flexible learning</u> program</h4>
             <p style="text-align: justify;"  class="ntxt"><b>
               Learn at your own pace and achieve your goals with the courses that are designed to offer a smooth and effective learning experience.
             </b> </p>
           </div>
           <br><br>
           <!--  *ngIf="!scrEEn" -->
           <img  alt="flexibe" *ngIf="!scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Fflexi.webp?alt=media&token=70fcf3f5-e93f-4d32-a48c-1bfb014685f9" height="350px" >
           <img  alt="flexible" *ngIf="scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Fflexi.webp?alt=media&token=70fcf3f5-e93f-4d32-a48c-1bfb014685f9" height="300px" width="100%">

         </div>
 
   </div>

   <div class="col-md-1 border-right"></div>
   <div class="col-md-1"></div>


   <div class="col-md-4   " style="height: auto;">
       <div   class="info">
           <h1></h1>
           <div   class="description">
              <h4   class="info-title txtSub  "><i class="ni ni-building"></i>&nbsp;&nbsp;&nbsp;<u>In House</u> Seminar </h4>
             <p  style="text-align: justify;" class="ntxt"><b>We deliver in-house seminars on leading technologies in the market, which gives you a glimpse of our vision of training future industry professionals.</b> </p>
           </div>
           <br><br>
           <img alt="inhouse" *ngIf="!scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Finhouse.webp?alt=media&token=6917946b-45a8-4263-8200-5307d9a4a46a" height="350px">
           <img alt="inhouse" *ngIf="scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Finhouse.webp?alt=media&token=6917946b-45a8-4263-8200-5307d9a4a46a" height="300px" width="100%">

         </div>
   </div>

 


 <div  *ngIf="!scrEEn"  class="col-md-1"></div>

   <div *ngIf="!scrEEn"  class="col-md-12">&nbsp; </div>

     <div class="col-md-1  "></div>
     <div class="col-md-4   "></div>
     <div class="col-md-1  "></div>
     <div class="col-md-1  "></div>
     <div class="col-md-4  "></div>
     <div class="col-md-1  "></div>

   <div *ngIf="!scrEEn"  class="col-md-12">&nbsp;  </div>
      
      

 <div *ngIf="!scrEEn"  class="col-md-1"></div>

     <div class="col-md-4  " style="height: auto;">
         <div   class="info " >
             <h1></h1>
             <div   class="description">
               <h4   class="info-title txtSub  "><i   class="ni ni-chart-bar-32"></i>&nbsp;&nbsp;&nbsp;<u>Career Guidance</u> </h4>
               <p  style="text-align: justify;" class="ntxt"><b>To help you progress in your career, we provide career coaching sessions, interview tips, help in resume building and online professional feedback.</b> </p>
             </div>
             <br><br>
             <img alt="career Guidance" *ngIf="!scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Fcareer-guidance.webp?alt=media&token=535ec7d0-c6b0-4d5a-818a-260bb551e5fa" height="350px">
             <img alt="career Guidance" *ngIf="scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2Fcareer-guidance.webp?alt=media&token=535ec7d0-c6b0-4d5a-818a-260bb551e5fa" height="300px" width="100%">

           </div>
     </div>

     <div  *ngIf="!scrEEn"  class="col-md-1 border-right"></div>
     <div  *ngIf="!scrEEn"  class="col-md-1"></div>
 
     <div class="col-md-4  " style="height: auto;">
         <div   class="info ">
             <h1></h1>
             <div   class="description">
               <h4   class="info-title txtSub  "><i   class="ni ni-chart-bar-32"></i>&nbsp;&nbsp;&nbsp;<u>Digital AV Resume</u> </h4>
               <p  style="text-align: justify;" class="ntxt"><b> 
                 We help you to reach companies worldwide with your Digital AV Resume which not only display your technical know-how but also highlight your interpersonal skills. 
                 <!-- (Your resume will be added to our database used by our network of employers to source candidates.) -->
               </b> </p>
             </div>
             <br><br>
             <img alt="digital av" *ngIf="!scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryav.webp?alt=media&token=404a9e48-f809-439f-a2d2-693f1ddfd0f4"  height="350px">
             <img alt="digital av" *ngIf="scrEEn" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryav.webp?alt=media&token=404a9e48-f809-439f-a2d2-693f1ddfd0f4"  height="300px" width="100%">

           </div>
     </div>

   </div>
  
</div>
