<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12" style="padding: 15px;">
            <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification" style="color: white;">Month 1</h6>
                </div>
                <div class="modal-body" style="background-color: white;">
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Aptitude </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658; Simplification </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658; Ratio and Proportion </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658; Time and Work </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658;Logical Reasoning  </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658; Permutation and Combination </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658; Calendar Expression </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" style="padding: 15px;">
            <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification" style="color: white;">Month 2</h6>
                </div>
                <div class="modal-body" style="background-color: white;">
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Programming in java </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Data structure using java </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Algorithms using java </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; OOPs concept in java </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Core java concepts </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Git  </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;">  &#9658; Github </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12" style="padding: 15px;">
            <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification" style="color: white;">Month 3</h6>
                </div>
                <div class="modal-body" style="background-color: white;">
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Database </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Structure query language </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; MySQL </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Mongo DB </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> HTML 5 </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> CSS </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" style="padding: 15px;">
            <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification" style="color: white;">Month 4</h6>
                </div>
                <div class="modal-body" style="background-color: white;">
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Javascript </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Variables </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Functions </p>
                    
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Bootstrap </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Classes </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Helper classes </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12" style="padding: 15px;">
            <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification" style="color: white;">Month 5</h6>
                </div>
                <div class="modal-body" style="background-color: white;">
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Angular JS </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Node JS </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Express JS </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" style="padding: 15px;">
            <div class="modal-content bg-gradient-danger">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification" style="color: white;">Month 6</h6>
                </div>
                <div class="modal-body" style="background-color: white;">
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Capstone project I </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Capstone project I </p>
                    <p style="font-weight: bold;margin: 0px;padding: 0px;"> Case study I </p>
                </div>
            </div>
        </div>
    </div>
</div>