<br><br><br><br>
<h1 class="txtHeader text-center mr-auto ml-auto" style="margin: 0%;padding: 0%;"> <span class="border-bottom"> &nbsp;
    PLACED STUDENTS &nbsp; </span> </h1>

<!--  -->
<nav class="navbar navbar-horizontal bg-white" id="message">
  <div>


    <div class="col-md-12">

      <!-- Swiper -->
      <swiper [config]="configD" *ngIf="!scrEEn" style="height: 400px;">
        <div class="swiper-wrapper">

          <div class="swiper-slide ">


            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/shiv.jpeg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Shiv Kumar </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : Value labs <br>
                Package : 4.5 LPA <br>
                Location : Hyderabad
                <hr style="padding: 0%;margin: 0%;">
                Company : Pravakti softwares and solutions <br>
                Package : 5.5 LPA <br>
                Location : Nagpur
                <hr style="padding: 0%;margin: 0%;">
                Company : Crowdera <br>
                Package : 3.6LPA <br>
                Location : Nagpur <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

          <div class="swiper-slide ">


            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/tejbhan.jpg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Tejbhan Sahu </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : ZappKode Solutions <br>
                Package: 5 LPA <br>
                Location: Pune <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

          <div class="swiper-slide ">

            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/parnika.jpeg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Parnika Chaudhari </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : Topper's <br>
                Package : 10LPA <br>
                Location : Mumbai <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

          <div class="swiper-slide ">

            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/aditya.jpg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Aditya Kanojiya </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : Topper's <br>
                Package : 10LPA <br>
                Location : Mumbai <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>


        </div>
        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


      </swiper>

      <swiper [config]="configM" *ngIf="scrEEn" style="height: 360px;">
        <div class="swiper-wrapper">

          <div class="swiper-slide ">


            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/shiv.jpeg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Shiv Kumar </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : Value labs <br>
                Package : 4.5 LPA <br>
                Location : Hyderabad
                <hr style="padding: 0%;margin: 0%;">
                Company : Pravakti softwares and solutions <br>
                Package : 5.5 LPA <br>
                Location : Nagpur
                <hr style="padding: 0%;margin: 0%;">
                Company : Crowdera <br>
                Package : 3.6LPA <br>
                Location : Nagpur <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

          <div class="swiper-slide ">


            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/tejbhan.jpg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Tejbhan Sahu </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : ZappKode Solutions <br>
                Package: 5 LPA <br>
                Location: Pune <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

          <div class="swiper-slide ">

            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/parnika.jpeg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Parnika Chaudhari </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : Topper's <br>
                Package : 10LPA <br>
                Location : Mumbai <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

          <div class="swiper-slide ">

            <div class="UserReview__userBox">
              <div class="UserReview__userBox__photo">
                <div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="../../assets/img/aditya.jpg">
                </div>
              </div>
              <div class="UserReview__userBox__info">
                <div class="UserReview__userBox__name"> Aditya Kanojiya </div>
                <div class="UserReview__userBox__designation">
                  <!-- <span class="u-dot"></span> -->

                </div>
              </div>
            </div>
            <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15"
                viewBox="0 0 14 10" class="UserReview__reviewInfo__quote">
                <g fill="none" fill-rule="evenodd">
                  <path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path>
                  <path d="M-5-7h24v24H-5z"></path>
                </g>
              </svg>
              <!---->
              <div class="UserReview__reviewInfo__desc">
                Company : Topper's <br>
                Package : 10LPA <br>
                Location : Mumbai <br>
              </div>
            </div>
            <div class="UserReview__reviewInfo">
              <!---->
              <!---->
              <div class="UserReview__reviewInfo__desc"></div>
            </div>

          </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

      </swiper>

      <!-- <span style="font-size: 20px;">Programs</span> -->
    </div>

    <!-- </div> -->
  </div>
</nav>
<!--  -->