<div class="pricingTable">
  <ul class="pricingTable-firstTable">
    <li class="pricingTable-firstTable_table bg-secondary border">
      <h1 class="pricingTable-firstTable_table__header">Basic Package</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>22,000</span><span></span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li style="text-align: left;">Pay full fees</li>
        <li style="text-align: left;">No monthly emi</li>
        <li style="text-align: left;">100% job guranteed</li>
        <li style="text-align: left;">Get Access to portal immediately</li>
        <li style="text-align: left;">Eligible for money back gurantee</li>
      </ul>
      <div (click)="pay1('Full Stack B')" class="pricingTable-firstTable_table__getstart">Enroll Now</div>
    </li>
    <li class="pricingTable-firstTable_table bg-secondary border">
      <h1 class="pricingTable-firstTable_table__header">Standard Package</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>25,000</span><span></span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li style="text-align: left;">Pay ₹5,000 per month</li>
        <li style="text-align: left;">Complete your fees before placement</li>
        <li style="text-align: left;">100% job guranteed</li>
        <li style="text-align: left;">Get Access to portal immediately</li>
        <li style="text-align: left;">Eligible for money back gurantee</li>
        <li style="text-align: left;">Book your seat @ ₹5,000 </li>
      </ul>
      <div (click)="pay1('Full Stack S')" class="pricingTable-firstTable_table__getstart">Enroll Now</div>
    </li>
    <li class="pricingTable-firstTable_table bg-secondary border">
      <h1 class="pricingTable-firstTable_table__header">Corporate Package</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>35,000</span><span></span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li style="text-align: left;">Pay ₹10,000 upfront & ₹25,000 after your placement</li>
        <li style="text-align: left;">100% job guranteed</li>
        <li style="text-align: left;">Complete your upfront ₹10,000 before session starts</li>
        <li style="text-align: left;">Get Access immediately</li>
        <li style="text-align: left;">No money back gurantee</li>
        <li style="text-align: left;">Book your seat @ ₹5,000</li>
      </ul>
      <div (click)="pay1('Full Stack C')" class="pricingTable-firstTable_table__getstart">Enroll Now</div>
    </li>
  </ul>
</div>