 
  <div   class="section text-center centre" style="text-align: justify;">
    <div   class="row">
     <div   class="text-center mr-auto ml-auto">
       <h2   class=" txtHeader">   <span class="border-bottom"> &nbsp; OUR PROGRAMS INCLUDE &nbsp; </span> </h2>
       <h5   class="description"></h5>
     </div>
   </div><br><br ><br>

    

<div class="col-md-12 row">
<div class="col-md-3 " style="padding-left: 30px;">
  <div style="width: 100%;">
    <img class="img2" alt="Best learning experience" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryble.webp?alt=media&token=a570c206-a67f-4ace-a451-9f490c8024d9" width="100%">
    <br>
  </div>
  <div style="text-align: justify;">
    <h6 class="text-left txtH"> <b>Best Learning Experience </b> </h6>
    <p class="ntxt"> <b>The whole content of the course is well researched, illustrated and strategically planned to improve understanding of concepts and to ensure a maximum advantage in the minimum investment of time. </b> </p>
  </div>
  <br>
</div>

<div class="col-md-3 " style="padding-left: 30px;">
  <div style="width: 100%;">
    <img class="img2" alt="real World Projects" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryrwp.webp?alt=media&token=1bd115e5-4d5c-475c-ac64-c118ed88882d" width="100%">
    <br>
  </div>
  <div style="text-align: justify;">
    <h6 class="text-left txtH"> <b> Real World Projects
      </b> </h6>
    <p class="ntxt"> <b>
      Live project experience with our professional mentors helps students to address real-life programming problems and satisfy growing market demands. The rich live environment distinguishes the student from the crowd of the market.  
    </b> </p>
  </div>
  <br>
</div>

<div class="col-md-3 " style="padding-left: 30px;">
  <div style="width: 100%;">
    <img class="img2" alt="Assignments" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryassign.webp?alt=media&token=3a565f5c-27c0-4b08-8d43-e288c7e6fc48" width="100%">
    <br>
  </div>
  <div style="text-align: justify;">
    <h6 class="text-left txtH"> <b> Assignments </b> </h6>
    <p class="ntxt"> <b>
      We strongly believe that the more we use our brains, the more it develops. Assignments enhance the understanding and creativity of students as they learn a lot more when they practice or read something on their own.  
    </b> </p>
  </div>
  <br>
</div>

<div class="col-md-3 " style="padding-left: 30px;">
  <div style="width: 100%;">
    <img class="img2" alt="career guidance" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/changed2%2FFormatFactoryFormatFactorycareer-guidance-2.webp?alt=media&token=c1ef735d-1105-498c-829a-5c12bf8bd428" width="100%" >
    <br>
  </div>
  <div style="text-align: justify;">
    <h6 class="text-left txtH"> <b> Personal Technical Assistance
      </b> </h6>
    <p class="ntxt"> <b>
      Our 1-on-1 mentorship from in-house expert Teaching Professionals who are aware of the growing and rapidly changing needs of the industry, resolve all queries of students and keep their learning on track.  
    </b> </p>
  </div>
  <br>
</div>
</div>