<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12" style="padding: 15px;">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification" style="color: white;">Week 1</h6>
        </div>
        <div class="modal-body" style="background-color: white;">
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 1 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Introduction to java </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Basics in java </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 2 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Variables </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 3 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Methods </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 4 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Constructor </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Instance block
          </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments
          </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 5 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Abstraction </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Encapsulation </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 6 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Quiz day and problem solving </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" style="padding: 15px;">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification" style="color: white;">Week 2</h6>
        </div>
        <div class="modal-body" style="background-color: white;">
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 1 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Polymorphism </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 2 </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Abstract class and method </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Interface </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 3 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; String class </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; String methods </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 4 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Packages in java </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Wrapper Classes
          </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments
          </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 5 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Command line arguments </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Type Casting </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; static Keyword </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; final Keyword </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; abstract keyword </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 6 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Quiz day and problem solving </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12" style="padding: 15px;">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification" style="color: white;">Week 3</h6>
        </div>
        <div class="modal-body" style="background-color: white;">
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 1 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Introduction to Exception handling </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 2 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Introduction to thread </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 3 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Introduction to file handling </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Assignments </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 4 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Garbage collection </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Finalized method
          </p> -->

          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 5 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Introduction to GUI </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Inner classes or Nested classes </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Anonymous class </p>
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 6 </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Generic methods </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Generic class </p> -->
          <!-- <p style="font-weight: bold;margin: 0px;padding: 0px;"> Day 7 </p> -->
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658;Quiz and problem solving </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" style="padding: 15px;">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification" style="color: white;">Week 4</h6>
        </div>
        <div class="modal-body" style="background-color: white;">
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> Introduction to Swing </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> Event handling in swing </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> Activity week for personality development </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Personality training </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Career guidance </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Overcome stage fear </p>
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> &#9658; Public speaking </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12" style="padding: 15px;">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification" style="color: white;">Week 5</h6>
        </div>
        <div class="modal-body" style="background-color: white;">
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> Quiz and problem solving </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" style="padding: 15px;">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification" style="color: white;">Week 6</h6>
        </div>
        <div class="modal-body" style="background-color: white;">
          <p style="font-weight: bold;margin: 0px;padding: 0px;"> Public speaking </p>
        </div>
      </div>
    </div>
  </div>
</div>