
  <app-navbar></app-navbar>
  
 


<div class="header py-7 py-lg-8" >
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6"> 
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  
<div class="container mt--8 pb-5 " >
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-7" > 
      <div class="card bg-secondary shadow border btn-secondary">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            
  <h1 class="txtHeader"> Earn and Learn </h1> 
          </div> 
        </div>
        <div class="card-body px-lg-5 py-lg-5">
           
        
  <div class="col-md-12 row">
      <!-- <form role="form"> -->
          <!-- <div class="col-md-3"></div> -->

              <!-- <div class="col-md-6 card shadow"> -->

        <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="fname" placeholder="First Name" type="text" style="border-right: 1px solid grey;">

              <div class="input-group-prepend">
                  <span class="input-group-text"><i class=""></i></span>
                </div>
                <input class="form-control" [(ngModel)]="lname" placeholder="Last Name" type="text">

            </div>

          </div>


          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="phone" placeholder="Phone No." type="number">
            </div>
          </div>

          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="email" placeholder="Email" type="email">
            </div>
          </div>


          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="dob" placeholder="DOB" type="date">
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-building"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="city" placeholder="City" type="text">
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="currentYear" placeholder="Current Year" type="text">
            </div>
          </div>

        
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-building"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="collageName" placeholder=" College Name " type="text">
            </div>
          </div>
        
            
            
              <div   class="form-group label-floating "><label  
                class="control-label">Looking for :</label><textarea [(ngModel)]="msg"  class="form-control col-md-12"
                id="message" name="looking"  rows="3"></textarea></div>
           
            
        <br>
          <div class="text-center">
            <button type="button" (click)="enqEarnnLearn()" class="btn  btn-txt my-4" style="border-radius: 16px">SUBMIT</button>
          </div>


        <!-- </div> -->
      </div> 
    </div>
  </div>
</div>

</div>

</div>
</div>

<!--  -->
<app-footer></app-footer>