<app-navbar></app-navbar>


<div class="position-relative">
  <div class="demo-header demo-header-image">

    <div class="motto row col-md-12  text-center">


    </div>
  </div>
</div>


<div>
  <br><br><br>
  <div class="col-md-12 col-sm-12 row" style="padding-left: 10px;margin: 0%;">


    <div class="col-md-4 col-sm-12">
      <img alt="scholarship"
        src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/dsrn%2FFormatFactorysc-pp.jpg?alt=media&token=ea6450b3-e140-43e0-b58b-6c1483e121cc"
        width="100%">
    </div>

    <!-- <div class="col-md-1 border-right"></div> -->
    <div class="col-md-1 col-sm-0"></div>

    <div class="col-md-7 col-sm-12">
      <!-- <div class="pl-md-5"> -->
      <!-- <br><br> -->
      <h2 class="txtHeader mr-auto ml-auto text-left"> <span class="border-bottom"> GYANARPAN SCHOLARSHIP TEST &nbsp;
        </span> </h2>

      <p style="text-align: justify;"><b>

          This is an initiative by Gyanarpan for financially weak and meritorious students to take advantage of
          opportunities in the growing market.
          Students can be eligible for a scholarship up to INR 35000 based on their performance in the scholarship test.
          Now, students struggling for
          the job just need to focus on improving their skill set through our courses, which helps them to get their
          dream job. Scholarship Test will
          be conducted across different colleges to make it easy for students to take the exam. Students can also
          register and take the test from anywhere.

        </b></p>

    </div>
  </div>
  <br><br><br><br>
</div>


<nav class="navbar navbar-horizontal " style="padding: 0%;background-color: #F9F9F9;">
  <br><br>
  <div class="row col-md-12 text-center" style="margin-top: 40px;margin-bottom: 30px;">

    <div class="col-md-1"></div>
    <div class="col-md-3 " style="margin-bottom: 30px;">
      <h2 style="font-size: 16px;"> REGISTRATION FEES </h2>
      <p> Student must pay <b class="txt">INR 500</b>. </p>
      <!-- They will be receiving <b class="txt">coupon worth INR 500</b> which can be redeemed while enrolling for internship or preplacement program. -->
      <p></p>
    </div>
    <div class="col-md-3 text-center"
      style="margin-bottom: 30px;border-right: 2px solid grey;border-left: 2px solid grey;border-right: 2px solid grey; ">
      <h2 class="text-center" style="font-size: 16px;">IMPORTANT DATES </h2>
      <p>Registration start date: <b>1st JAN, 2021</b></p>
      <p>Registration end date: <b>7th MARCH, 2021</b> </p>
      <p>Scholarship exam date: <b>14th MARCH, 2021</b></p>
      <p>Result date: <b>16th MARCH, 2021</b></p>
    </div>
    <div class="col-md-3  " style=" margin-bottom: 30px;">
      <h2 style="font-size: 16px;"> PREREQUISITES </h2>
      <p>
        Student from any branch can appear for test. There are <b class="txt"><u></u>NO
          PREREQUISITES </b></p> required.
      <p></p>
    </div>
    <br>
  </div>
  <br><br>
</nav>


<div class="container" *ngIf="show">
  <!-- <div class="pl-md-5"> -->
  <!-- <br><br> -->
  <br><br><br>
  <div class="col-md-12 row text-center">
    <h2 class="txtHeader mr-auto ml-auto text-center"> <span class="border-bottom"> &nbsp; BENEFITS OF SCHOLARSHIP TEST
        &nbsp; </span> </h2>
    <div class=" mr-auto ml-auto text-center">
      <p> <b> This internship program shall turn out to be a big surprise for a better future as it has ampul benefits
        </b> </p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-6 text-left">
      <ul style="list-style-type: none;">
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
        <li style="margin-bottom: 5px;"> </li>
      </ul>

      <br>

      <p style="text-align :justify;"> <b>
          Transit in to a great job. </b> </p>

      <button (click)="onClickN('reg')" class="btn btn-txt"> Enquire Now </button>
      <!-- (click)="open(classic4, 'modal_mini', 'sm')" -->
      <!-- </div> -->
      <br><br><br>
    </div>
  </div>
</div>

<!--  -->
<div class="container">
  <div class="row row-grid align-items-center">
    <div class="col-md-12 row">
      <h2 class="txtHeader mr-auto ml-auto text-center"> <span class="border-bottom"> &nbsp; BENEFITS OF SCHOLARSHIP
          TEST &nbsp; </span> </h2>
      <br><br><br>
    </div>


    <div class="col-sm-12 row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <!-- <br>  -->
        <ul style="padding-left: 0;list-style-type: none;">
          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1283/1283218.png" height="25px"> 100% job
                guaranteed
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1999/1999072.png" height="25px"> Interview
                training
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1402/1402153.png" height="25px"> 5+ mock
                test
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1999/1999072.png" height="25px"> 5+ free
                mock interviews
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px"> Aptitude
                training
              </b>
            </p>
          </li>
        </ul>
        <!-- <br>  -->
      </div>

      <div class="col-sm-4">
        <!-- <br><br> -->
        <ul style="padding-left: 0;list-style-type: none;">
          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1008/1008026.png" height="25px"> Free
                pre-placement training
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1454/1454500.png" height="25px"> Career
                guidance
              </b>
            </p>
          </li>


          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/2132/2132962.png" height="25px"> One to
                One mentoring
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/1087/1087815.png" height="25px"> Free
                internship for 45 days
              </b>
            </p>
          </li>

          <li>
            <p>
              <b>
                <img alt="icon" src="https://image.flaticon.com/icons/png/512/942/942748.png" height="25px"> Digital av
                resume
              </b>
            </p>
          </li>
        </ul>
        <!-- <br>  -->
      </div>
    </div>
  </div>
  <br>
</div>
<!--  -->

<nav id="syllabus" class="navbar navbar-horizontal bg-white" style="padding: 3%;">
  <div class="col-md-12">
    <h2 class="txtHeader text-center"> SYLLABUS </h2> <br><br><br><br>
  </div>
  <div class="container ">
    <div class="row col-md-12">

      <div class="col-md-2"></div>

      <div class="col-md-8 " style="padding: 0%;">

        <div class="timeline" style="padding: 0%;">
          <div class="container2 right">
            <div class="content">
              <!-- <h2 class="txtHeader" style="font-weight: bold; "> Aptitude </h2> -->
              <!-- accordion -->

              <button class="accordion txtSub active"> Aptitude </button>
              <div class="panel">

                <ul style="padding-left: 5px;">
                  <li>
                    Quantitative
                  </li>
                  <li>
                    Data Interpretation
                  </li>
                  <li>
                    Reasoning
                  </li>
                </ul>
              </div>

              <button class="accordion"> C language </button>
              <div class="panel">
                <ul style="padding-left: 5px;">
                  <li> Data type </li>
                  <li> Functions </li>
                  <li> Operators </li>
                  <li> Control statements </li>
                  <li> Arrays </li>
                  <li> String </li>
                  <li> Recursion </li>
                  <li> Pointers </li>
                  <li> Structures </li>
                  <li> File input/output </li>
                  <li> Dynamic memory allocation </li>
                </ul>
              </div>

              <button class="accordion"> Data structure </button>
              <div class="panel">
                <ul style="padding-left: 5px;">
                  <li> Array </li>
                  <li> Linked list </li>
                  <li> Tree </li>
                  <li> Graph </li>
                  <li> Stack </li>
                  <li> Queue </li>
                  <li> Hashing </li>
                </ul>
              </div>

              <button class="accordion"> Algorithm </button>
              <div class="panel">
                <ul style="padding-left: 5px;">
                  <li> Asymptotic notation </li>
                  <li> Divide and conquer </li>
                  <li> Greedy techniques </li>
                  <li> Dynamic programing </li>
                </ul>
              </div>

              <!-- ends -->
            </div>
          </div>




        </div>

      </div>

      <div class="col-md-4  ">


        <br><br><br>

      </div>
    </div>
  </div>
</nav>


<div class="col-md-12 row text-center" id="reg">
  <br>

  <button class="btn btn-txt text-center mr-auto ml-auto" disabled> ENROLL NOW </button>

</div>

<br><br><br><br>

<app-footer></app-footer>