<app-navbar></app-navbar>


<div class="container">

<h5>Terms and Conditions:</h5>
<p>
  By enrolling, students abide by the Rules & Regulations of Gyanarpan. These currently relate to training, examinations, assessments, fees, and placements.
</p>
<p>
  In the event that the student is unable to submit the relevant documents supporting/testifying his qualification for the course, Gyanarpan reserves the right to withdraw/terminate the enrolment with immediate effect.
</p>
<p>
  If the student fails to pay the requisite fees within the stipulated time, Gyanarpan stands the right to cancel admission without any liability of refund of fees paid by the student.
</p>
<p>
  The student agrees to maintain at least 80% attendance. In the event of a failure to do so, Gyanarpan will not be responsible for providing placements post completion of the courses.
</p>
<p>
  If the student fails to secure the threshold passing percentage in the course assessments carried on from time to time, Gyanarpan will not be responsible for providing placements post completion of the courses.
</p>

<p>
  The content of the courses and the curriculum are under constant academic review and may change from time to time, with some courses being modified / replaced.
</p>
<p>
  Upon completion of the training, the student will be awarded a course completion certificate.
</p>
<p>
  Student agrees to maintain confidentially of the course content and distributed materials, and agrees not to distribute or upload or make available to any individual, voluntary or involuntarily. Infringement of any intellectual property rights is subject to and not limited to termination of enrolment. The student is also subject to criminal/civil proceedings in such an event.
</p>
<p>
  The institute reserves the right to withhold the passing certificate until the student’s fees have been paid. In such an event, the placement services will not be offered to the student.
</p>
<p>
  By signing the enrolment form, the student provides unconditional consent to Gyanarpan for use of his name, marks and other details in Gyanarpan marketing campaigns.
</p>
<p>
  Any notice or other information that, either Gyanarpan or the student requires to give to the other in connection with the agreement entered into between them, may be given by electronic means, by hand or sent by prepaid post.
</p>
<p>
  All disputes subject to Nagpur Jurisdiction.
</p>
<p><u>
  After Enrolment:
</u></p>
<p>
  Student should maintain 80% attendance.
</p>
<p>
  Plagiarism will not be entertained.
</p>
<p>
  It is mandatory to submit all assignments/exercises within 12 months from the date of enrolment.
</p>
<p>
  If a student is not placed within 6 months after the course completion, he can claim for a refund of full fees, excluding GST.
</p>
<p>
  It is mandatory to attend interviews for all the job references given by Gyanarpan. If student fails to attend interviews at the scheduled times, Gyanarpan will not be liable to pay any refund or provide placement or arrange interview.
</p>
<p>
  Students undergoing Pre-Placement Program while pursuing UG/PG (BE / BSc 2nd year or BE 3 rd year), shall be provided with internship opportunities. Resume will be sent to the companies closer to final year completion. Submission of all assignments within the validity period is mandatory.
</p>
<p>
  <u>
    Cancellation and Refunds:
  </u>
</p>
<p>
  <b> This refund policy only applies to pre-placement programs, there will be no refund for other programs. </b>
</p>
<p>
  Students who shall make a one-time payment for full fees shall be eligible for refund. Cancellation within 15 days from enrolment – 80% refund, Cancellation after 15 days and before 45 days – 40% refund. After 45 days no amount will be refunded.
</p>
<p>
  Please note that Gyanarpan will not entertain any kind of objections, requests or complaints in connection with or arising out of these terms and conditions.
</p>
<p>
  These terms and conditions may be modified at any time and we will let you know if we update anything. The most recent changes or revisions will appear on this page.
</p>

<br>
<br>
<br>

</div>

<app-footer></app-footer>

