<div class="pricingTable">
  <ul class="pricingTable-firstTable">
    <li class="pricingTable-firstTable_table bg-secondary border">
      <h1 class="pricingTable-firstTable_table__header">FULL PAYMENT</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>5,000</span><span></span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li style="text-align: left;"> One time </li> <br>
      </ul>
      <div (click)="pay1('Core Development Life Cycle')" class="pricingTable-firstTable_table__getstart">Enroll Now</div>
    </li>
    <li class="pricingTable-firstTable_table bg-secondary border">
      <h1 class="pricingTable-firstTable_table__header">RESERVE YOUR SEAT</h1>
      <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>2,000</span><span></span></p>
      <ul class="pricingTable-firstTable_table__options">
        <li style="text-align: left;"> Reserve seat by paying ₹2,000 </li>
      </ul>
      <div (click)="pay1('Core Development Life Cycle R')" class="pricingTable-firstTable_table__getstart">Enroll Now</div>
    </li>
  </ul>
</div>