<!--  -->
<nav class="navbar navbar-horizontal bg-white" id="message">
  <div >
   

     <div class="col-md-12">

       <!-- Swiper -->
       <swiper [config]="configD"  *ngIf="!scrEEn"  style="height: 300px;">
 <div class="swiper-wrapper">
  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Faditya-there.jpg?alt=media&token=5a9ec79e-15a4-4ed7-b4c8-1eff50635540"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Aditya There </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">Gyanarpan is a great place to learn from experts. I have learned a lot and recommend it to all my friends.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>
  
  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fapurva-dethe.jpeg?alt=media&token=89260966-81e1-46da-8f36-73020ae41570"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Apurva Dethe </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">The courses are fantastic and the instructor are so fun and knowledgeable. I only wish I found it sooner.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>

  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fnikita-lanjewar.jpeg?alt=media&token=c8ffa1f9-884e-4470-a44c-448b69c2be12"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Nikita Lanjewar </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">Thank you Gyanarpan! You’ve renewed my passion for learning and my dream of becoming a web developer.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>

  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fpalak-jain.jpeg?alt=media&token=265d9124-7d16-44c4-b162-3f2cea4b3cb0"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Palak Jain </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">The best part about the Gyanarpan is the Instructors are fantastic, interesting, and helpful.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>

  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fprerit-shambharkar.jpg?alt=media&token=1c7c125f-69e1-4869-ba4c-726235d3bae9"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Prerit Shambharkar </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">It doesn’t matter what your previous background is, as everything is taught from the basics.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>

  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fsaloni-kapoor.jpeg?alt=media&token=ce18c76e-c7b6-4e18-b445-1be1c7dab0db"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Saloni Kapoor </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">They will prepare you how to face job interviews and also provide mock interviews and mock test.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>

  <div class="swiper-slide ">
     
     
    <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2FFormatFactoryshashwati.jpg?alt=media&token=dc6706b3-29d9-4c7f-b0f0-dd92a438f3d2"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Shashwati </div> <div class="UserReview__userBox__designation">
       <!-- <span class="u-dot"></span> -->
        KDK College of Engineering
    </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">Ultimately, Gyanarpan is what really became the driving force behind my career change.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 

  </div>

  
 </div>
 <!-- Add Pagination -->
 <!-- <div class="swiper-pagination"></div> -->
 <!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
 

</swiper>

<swiper [config]="configM"  *ngIf="scrEEn"  style="height: 260px;">
  <div class="swiper-wrapper">
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Faditya-there.jpg?alt=media&token=5a9ec79e-15a4-4ed7-b4c8-1eff50635540"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Aditya There </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">Gyanarpan is a great place to learn from experts. I have learned a lot and recommend it to all my friends.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
   
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fapurva-dethe.jpeg?alt=media&token=89260966-81e1-46da-8f36-73020ae41570"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Apurva Dethe </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">The courses are fantastic and the instructor are so fun and knowledgeable. I only wish I found it sooner.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
 
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fnikita-lanjewar.jpeg?alt=media&token=c8ffa1f9-884e-4470-a44c-448b69c2be12"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Nikita Lanjewar </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">Thank you Gyanarpan! You’ve renewed my passion for learning and my dream of becoming a web developer.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
 
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fpalak-jain.jpeg?alt=media&token=265d9124-7d16-44c4-b162-3f2cea4b3cb0"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Palak Jain </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">The best part about the Gyanarpan is the Instructors are fantastic, interesting, and helpful.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
 
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fprerit-shambharkar.jpg?alt=media&token=1c7c125f-69e1-4869-ba4c-726235d3bae9"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Prerit Shambharkar </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">It doesn’t matter what your previous background is, as everything is taught from the basics.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
 
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2Fsaloni-kapoor.jpeg?alt=media&token=ce18c76e-c7b6-4e18-b445-1be1c7dab0db"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Saloni Kapoor </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">They will prepare you how to face job interviews and also provide mock interviews and mock test.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
 
   <div class="swiper-slide ">
      
      
     <div class="UserReview__userBox"><div class="UserReview__userBox__photo"><div class="lazyLoad__wrapper lazyload__loaded"><img alt="Intern" src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/interns%2FFormatFactoryshashwati.jpg?alt=media&token=dc6706b3-29d9-4c7f-b0f0-dd92a438f3d2"> </div></div> <div class="UserReview__userBox__info"><div class="UserReview__userBox__name"> Shashwati </div> <div class="UserReview__userBox__designation">
        <!-- <span class="u-dot"></span> -->
         KDK College of Engineering
     </div></div> </div> <div class="UserReview__reviewInfo mt-18"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 14 10" class="UserReview__reviewInfo__quote"><g fill="none" fill-rule="evenodd"><path fill="#000" fill-rule="nonzero" d="M1 10h3l2-4V0H0v6h3l-2 4zm8 0h3l2-4V0H8v6h3l-2 4z"></path><path d="M-5-7h24v24H-5z"></path></g></svg> <!----> <div class="UserReview__reviewInfo__desc">Ultimately, Gyanarpan is what really became the driving force behind my career change.</div></div> <div class="UserReview__reviewInfo"><!----> <!----> <div class="UserReview__reviewInfo__desc"></div></div> 
 
   </div>
 
   
  </div> 
 <div class="swiper-button-next"></div>
 <div class="swiper-button-prev"></div>
 
 
 </swiper>
       
       <!-- <span style="font-size: 20px;">Programs</span> -->
     </div>
     
     
   <!-- </div> -->
 </div> 
</nav>
<!--  -->
