<br id="internship">

<br>
<div class="col-md-12 text-center">

  <h2 class="txtHeader mr-auto ml-auto  text-center"> <span class="border-bottom"> &nbsp; OUR INTERNSHIP PROGRAMS
      &nbsp;</span> </h2>

  <swiper [config]="configD" *ngIf="!scrEEn" style="height: auto;">
    <div class="swiper-wrapper">
      <div class="swiper-slide ">
        <div class="box col-lg-3 col-sm-10"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;margin-left: 50px;">
          <!-- <a [routerLink]="['/inter-coit']"> -->
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactorycoit-i.jpg?alt=media&token=3ad9f3c3-cdd6-4c5d-bb4e-6293a960b078"
                  alt="Core dev life cycle" class="card-img-top"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text badge badge-secondary"
                  style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
                <div>


                  <h6 class="txt " style="margin:0%"> <b>Core of IT 00Industry</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> Management, IT Concepts </p> -->
                  <br>
                  <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-coit']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
                </div>


              </div>

            </div>
          <!-- </a> -->
        </div>
      </div>

      <div class="swiper-slide ">
        <div class="col-lg-3 col-sm-10"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;margin-left: 50px;">
          <a [routerLink]="['/inter-cdlc']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactorycdlc-i.jpg?alt=media&token=d079af88-5cc5-48ae-879e-ce27e8918b3a"
                  class="card-img-top" alt="core dev life cycle"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Core Development life cycle</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> Deep learning, SDLC, Testing </p> -->
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-cdlc']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>

              </div>

            </div>

          </a>
        </div>
      </div>

      <div class="swiper-slide ">
        <div class="box col-lg-3 col-sm-10"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;margin-left: 50px;">
          <!-- <a [routerLink]="['/inter-iot']"> -->
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactoryiot-i.jpg?alt=media&token=081e82e1-f67e-408f-82bf-92c89696177a"
                  class="card-img-top" alt="IOT" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text badge badge-secondary"
                  style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
                <div>


                  <h6 class="txt " style="margin:0%"> <b>Internet of things</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> Arduino, Raspberry, Sensors </p> -->
                  <br>
                  <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-iot']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
                </div>

              </div>

            </div>
          <!-- </a> -->
        </div>
      </div>

      <div class="swiper-slide ">
        <div class="box col-lg-3 col-sm-10"
          style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;margin-left: 50px;margin-right: 50px;">
          <!-- <a [routerLink]="['/inter-ml']"> -->
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactoryml-i.jpg?alt=media&token=2e4e3e23-9df1-4371-b169-9aa6d668d7c8"
                  class="card-img-top" alt="Machine learning"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text badge badge-secondary"
                  style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
                <div>


                  <h6 class="txt " style="margin:0%"> <b>Machine learning</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> ML Kit, Thinking with sensors </p> -->
                  <br>
                  <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-ml']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
                </div>


              </div>

            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <swiper [config]="configM" *ngIf="scrEEn" style="height: auto;">
    <div class="swiper-wrapper">
      <div class="swiper-slide ">
        <div class="box col-lg-4 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <!-- <a [routerLink]="['/inter-coit']"> -->
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactorycoit-i.jpg?alt=media&token=3ad9f3c3-cdd6-4c5d-bb4e-6293a960b078"
                  class="card-img-top" alt="core of it Industry"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text badge badge-secondary"
                  style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
                <div>


                  <h6 class="txt " style="margin:0%"> <b>Core of IT Industry</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> Management, IT Concepts </p> -->
                  <br>
                  <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-coit']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
                </div>


              </div>

            </div>
          <!-- </a> -->
        </div>
      </div>

      <div class="swiper-slide ">
        <div class="col-lg-3 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <a [routerLink]="['/inter-cdlc']">
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactorycdlc-i.jpg?alt=media&token=d079af88-5cc5-48ae-879e-ce27e8918b3a"
                  class="card-img-top" alt="core dev life cycle"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">

                <div>


                  <h6 class="txt " style="margin:0%"> <b>Core Development life cycle</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> Deep learning, SDLC, Testing </p> -->
                  <br>
                  <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-cdlc']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div>
                </div>


              </div>

            </div>

          </a>
        </div>
      </div>

      <div class="swiper-slide ">
        <div class="box col-lg-3 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <!-- <a [routerLink]="['/inter-iot']"> -->
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactoryiot-i.jpg?alt=media&token=081e82e1-f67e-408f-82bf-92c89696177a"
                  class="card-img-top" alt="IOT" style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text badge badge-secondary"
                  style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
                <div>


                  <h6 class="txt " style="margin:0%"> <b>Internet of things</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> Arduino, Raspberry, Sensors </p> -->
                  <br>
                  <!-- <div class="caption caption-up" style="background-color: white;">
                              <a [routerLink]="['/inter-iot']" >   <button class="btn btn-txt" style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                          </div> -->
                </div>


              </div>

            </div>
          <!-- </a> -->
        </div>
      </div>

      <div class="swiper-slide ">
        <div class="box col-lg-3 col-sm-10" style="min-width: 300px;margin-top: 10px;margin-bottom: 10px;">
          <!-- <a [routerLink]="['/inter-ml']"> -->
            <div class="thumbnail shadow" style="border-radius: 5%;">
              <div class="card bg-white shadow border-0" style="border-radius: 5%;">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/gyanarpanlearning-live.appspot.com/o/inter%2FFormatFactoryml-i.jpg?alt=media&token=2e4e3e23-9df1-4371-b169-9aa6d668d7c8"
                  class="card-img-top" alt="Machine learning"
                  style="border-top-left-radius: 5%;border-top-right-radius: 5%;">
                <div class="text badge badge-secondary"
                  style="font-size: 20px;border-radius: 0px 0px 0px 50px;color: blue;"> Coming <br>Soon </div>
                <div>


                  <h6 class="txt " style="margin:0%"> <b>Machine learning</b> </h6>
                  <hr
                    style="margin-top: 0%;border: 0.7px dashed grey;margin-bottom: 0%;margin-left: 20px;margin-right: 20px;">
                  <!-- <p style="margin:0%;margin-bottom: -12px;color: black;"> ML Kit, Thinking with sensors </p> -->
                  <br>
                  <!-- <div class="caption caption-up" style="background-color: white;">
                    <a [routerLink]="['/inter-ml']"> <button class="btn btn-txt"
                        style="border-radius: 16px;margin-top: 10px;margin-bottom: 15px;">Enroll Now</button> </a>
                  </div> -->
                </div>


              </div>

            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>


  <div *ngIf="show" class="text-center">

    <br><br>


    <div class="row col-lg-12 col-md-12">
      <!-- <div class="col-md-1"></div> -->






    </div>


  </div>

  <br><br> <br><br>
  <!-- </div> -->
</div>
<!-- </my-component> -->